@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
font-family: 'Oswald', scans-serif
font-family: 'Poppins', scans-serif
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h2{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    text-transform: uppercase;
}

body{
    font-family: 'Poppins', scans-serif; 
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: auto;
}


.header{
    background-image: linear-gradient(to top,  rgba(209, 171, 140, 0.501) 0%, rgba(251, 194, 235, 0.485) 100%);
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px 0;
}



.header .navbar ul li a{
    display: inline-block;
    color: #ffff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    -webkit-transition: all 500ms easy;
    -o-transition: all 500ms easy;
    transition: all 500 easy;
}

.header .navbar ul li a:hover{
    background: #685f66;
    border-radius: 20px;
}

.hamburger{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #ffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);

}

.menu{
    position: fixed;
    background-color: #f5f5f5;
    background-image: linear-gradient(to top,  rgba(209, 171, 140, 0.501) 0%, rgba(251, 194, 235, 0.485) 100%);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

table{
    width: 100%;
}

th, td{
    color: #ffff;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img{
    flex-basis: 50%;
    text-align: center;
}

.header-txt{
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: black;
    font-family: 'Oswald' sans-serif;
    margin-bottom: 15px;
}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: black;
    color: #ffff;
    border-radius: 5px;
}

.carreras{
    
    padding: 50px 0;
    text-align: center;
}

.carreras h2{
    color: black;
    font-family: 'Oswald' sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.carrera-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.carrera{
    display: grid;
    
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.carrera img{
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.carrera h3{
    font-size: 20px;
    color: black;
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.carrera p{
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}

.btn-2{
    display: inline-block;
    padding: 7px 10px;
    background-color: black;
    color: #ffff;
    border-radius: 5px;
    font-size: 15px;
}

/*Mis carreras*/

.mis_carreras{
    
    padding: 50px 0;
    text-align: center;
}

.mis_carreras h2{
    color: black;
    font-family: 'Oswald' sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.mi_carrera-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.mi_carrera{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.mi_carrera img{
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.mi_carrera h3{
    font-size: 20px;
    color: black;
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.mi_carrera p{
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}

.ronda{
    text-align: justify;
}

.ronda h3{
    margin-bottom: 15px;
}

.ronda h4{
    font-size: 20px;
    color: black;
    margin-bottom: 15px;

}

.ronda p h4{
    margin-bottom: 15px;
}

.ronda li {
    margin-bottom: 15px;
}

/*Entrenamientos*/

.entrenamientos{
    padding: 50px 0;
    text-align: center;
}

.entrenamientos h2{
    color: black;
    font-family: 'Oswald' sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.entrenamiento-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.entrenamiento{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.entrenamiento img{
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.entrenamiento h3{
    font-size: 20px;
    color: black;
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.entrenamiento p, .precio{
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}

/*Canicross*/

.canicross{
    padding: 50px 0;
    text-align: center;
}

.canicross h2{
    color: black;
    font-family: 'Oswald' sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.cani-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.cani{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cani img{
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.cani h3{
    font-size: 20px;
    color: black;
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cani p, .precio{
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}

.footer{
    text-align: center;
    padding: 50px 0;
    background-color: #111111;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}


.link h3{
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
}

@media (max-width:900px) {
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #0e0d0d;
        display: none;

    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a{
        color: #ffff;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .logo{
        display: none;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img{
        display: none;
    }

    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
    }


    .footer{
        padding: 30;
    }

    .footer-content{
        flex-direction:column;
        text-align: center;
    }

}